/* CreatePost.css */

.create-post-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; 
    position: relative;
}

.create-post-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.create-post-container form {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.create-post-container div {
    margin-bottom: 20px;
}

.create-post-container label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.create-post-container input {
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
}


