.profile-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 600px;
    margin: 190px auto;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-title {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .photo-upload {
    border: none;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-field {
    margin-bottom: 15px;
  }
  
  .field-label {
    display: block;
    color: #666;
    font-weight: bold;
  }
  
  .field-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .update-button, .logout-button {
    background-color: #4f9ef8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-button:hover {
    background-color: #599be1;
  }
  
  .logout-button {
    background-color: #d0848c;
  }
  
  .logout-button:hover {
    background-color: #d46f79;
  }
  