/* Dashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #dbe9e6; 
}

.dashboard-content {
    margin-top: 60px; 
    padding: 20px;
    background-color: #fefefe; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dashboard-content h2{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    width: 100vw;
    height: 80vh;
    max-width: 800px; 
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ff4d4d; 
}

.close-button:hover {
    color: #e60000; 
}
